html {
    font-family: "Open Sans", Arial, sans-serif;
    background: #FFF;
}
body {
    margin: 0;
    font-size: 13px;
    color: #2B173C;
}
body > div {
    position: relative;
}
a[href] {
    text-decoration: none;
    color: #2B173C;
}
a[href]:hover {
    text-decoration: underline;
}
a.active {
    font-weight: bold;
}

#menu {
    position: fixed;
    width: 100%;
    z-index: 2;
    color: #FFF;
    background: #2B173C;
    border-top: 10px solid #2B173C;
    border-bottom: 1px solid #EEE;
}
#menu ul {
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
    text-align: center;
}
#menu li {
    display: inline-block;
    margin: 0 25px;
    list-style: none;
}
#menu a {
    line-height: 44px;
    text-transform: uppercase;
    color: #FFF;
    outline: 0;
}
#menu a.active {
    font-weight: bold;
}

#front {
    top: 55px;
    margin-bottom: 55px;
    text-align: center;
    background-color: #2B173C;
}
#front:before {
    content: "";
    background-image: url(images/people-gray.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    top: 0; left: 0; bottom: 0; right: 0;
    position: absolute;
}
#front h1, #front h2 {
    position: relative;
    margin: 0;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075);
    color: #fff;
}
#front h1 {
    margin-top: 70px;
    font-size: 72px;
}
#front h2 {
    font-size: 31px;
    text-transform: uppercase;
}
#front .logo {
    position: relative;
    top: 60px;
}

#team {
    color: #FFF;
    background-color: #2B173C;
    text-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075);
}
#team.section {
    margin: 0;
}
#team h1 {
    margin: .618em 0 .618em;
}
#team h2 {
    margin: 0 auto;
    text-align: left;
    max-width: 960px;
    font-size: 31px;
    text-transform: uppercase;
}
#team a {
    color: #FFF;
}

.dark-background {
    padding: 10px;
}

#map {
    margin: 30px -30px;
    height: 500px;
}

.text-centered {
    text-align: center;
}

.button {
    padding: 10px 30px;
    color: #FFF !important;
    background: #006CFF;
}

.encerrado, .button:hover {
    text-decoration: none !important;
    background: #6b005d;
}

.section {
    margin: 0 30px;
    padding-bottom: 60px;
    border-top: 1px solid #efefef;
}
.section h1, .section h2 {
    margin: 0;
    font-weight: 100;
    text-align: center;
}
.section h1 {
    margin: 1.236em 0 .618em;
    font-size: 48px;
}
.section h2 {
    margin: 30px 0 4px;
    font-weight: 600;
    font-size: 24px;
}
.section h3 {
    margin: 30px 0 4px;
    font-weight: 600;
    font-size: 18px;
}
.section p,
.section .container {
    margin: 0 auto 17px;
    max-width: 960px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.section a[href] {
    color: #2C7BBF;
    font-weight: bold;
}

.callforpapers a[href]{
    color: #2B173C;
}
.callforpapers {
    position: relative;
    justify-content: center;
    padding-top: 60px;
}

.blocks-container {
    margin: 0 auto;
    max-width: 1080px;
    text-align: center;
}

.block {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    width: 280px;
    height: 378px;
    text-align: center;
    background: #fff;
    border: 1px solid #e8e8e8;
}
.block p {
    padding: 0 10px;
}
.block-image {
    display: block;
    height: 230px;
    background-position: center;
    background-size: 100%;
}
.block-hover-text {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: #FFF;
    background: rgba(0,0,0,0.9);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.block-hover-text h2 {
    margin-top: 4px;
}
.block-hover-text p {
    font-size: 13px;
    line-height: 15px;
}
.block:hover .block-hover-text,
.block:target .block-hover-text { opacity: 1; }

.schedule-grid {
    margin: 0 auto;
    max-width: 960px;
    border-bottom: 1px solid #EFEFEF;
}
.schedule-grid td {
    padding: 10px;
    border-top: 1px solid #EFEFEF;
}
.schedule-hour {
    font-size: 24px;
}
.schedule-grid h2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    text-align: left;
    font-weight: normal;
}
.schedule-grid h3 {
     margin: 8px 0 0;
}
.schedule-grid p {
    font-size: 14px;
    line-height: 18px;
}
.schedule-tag {
    display: inline-block;
    padding: 1px 4px;
    font-size: 7px;
    background: #EEE;
    border: 1px solid #AAA;
}
.schedule-photo img {
    width: 130px;
}

.gold-sponsor,
.silver-sponsor,
.bronze-sponsor {
    margin-right: 40px;
}
.gold-sponsor img {
    width: 300px;
    vertical-align: middle;
}
.silver-sponsor img {
    width: 240px;
    vertical-align: middle;
}
.bronze-sponsor img {
    width: 180px;
    vertical-align: middle;
}

/*
.silver-sponsor img[alt='Greenmile'] {
    width: 350px;
}*/

.team-headers {
    margin: 0 auto;
    max-width: 960px;
}
.team-headers ul {
    padding: 0;
}
.team-headers li {
    display: inline-block;
    margin-right: 40px;
    list-style: none;
}

.inscricoes{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#contentBody > div.section.inscricoes > form > input[type="submit"]:nth-child(3) {
  background: #f1f11f;
  font-family: Arial;
  color: #1f1a1f;;
  font-size: 30px;
  padding: 10px 50px;
  text-decoration: none;
}

#contentBody > div.section.inscricoes > form > input[type="submit"]:nth-child(3):hover {
  background: #f1f11f;
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: 654px) {
    #menu { display: none; }

    #front { top: 0; }

    .section.speakers { margin: 0; }
    .section.sponsors { margin: 0 10px; }
    .section.sponsors img { width: 30%; margin: 10px }

    #team h1 { font-size: 35px; }
    #team.section { padding: 20px }

    .schedule-grid tr {
        position: relative;
        display: block;
        border-top: 1px solid #EFEFEF;
    }
    .schedule-grid td {
        display: block;
        border: none;
    }
    .schedule-hour {
        padding: 20px !important;
        text-align: right;
    }
    .schedule-photo {
        position: absolute;
        top: 0;
        left: 0;
    }
    .schedule-photo img {
        width: 80px;
    }
}
